<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Image</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/update.css') }}">
</head>
<body>
    <div class="upload-box">
        <div class="upload-img">
            <img src="{{ url_for('static',filename='assets/Doctor.svg') }}" alt="">
        </div>
        <label for="upload-input" class="upload-label">Choose Image</label>
        <input type="file"  id="upload-input" accept="images/*">
        <label class="upload-label">Upload Image</label>
        <input type="file"  id="upload-input" action="complete.html">
    </div>

    <script>
      const uploadInput = document.querySelector('#upload-input') ;
const previewImg = document.querySelector('.upload-img img') ;

uploadInput.addEventListener('change',e => {
    if(e.target.files.length > 0) {
        const url = URL.createObjectURL(e.target.files[0]) ;
        previewImg.src = url ;
    }
})
    </script>
</body>
</html>